<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="nxbre.securitySandbox" value="true"/>
		<!--
			**********
			Unit Tests
			**********
		-->
		<add key="nxbre.unittest.inputfile" value="../../../RuleFiles/test.xbre"/>
		<add key="nxbre.unittest.inputnative" value="../../../RuleFiles/discount.bre"/>
		<add key="nxbre.unittest.identityxsl" value="../../../RuleFiles/identity.xsl"/>
		<add key="nxbre.unittest.ruleml.inputfolder" value="../../../RuleFiles/"/>
		<add key="nxbre.unittest.outputfolder" value="Temp"/>
	</appSettings>
</configuration>
